body{
    background-color: #f5f5f5;
    height: 100%;
}

html{
    height: 100%;
}

html, body {
    overflow: auto;
}

.form-signin{
    max-width: 330px;
    margin: auto;
    width: 100%;
    padding: 15px;
}

.input-group{
    margin: 10px;
}

.card-footer{
    padding: 1rem;
}