{% extends "base.html" %}
{% set active_page = "upcoming" %}

{% block content %}

    <div class="row">
    <div class="col">

    <div class="row">
    <div class="col">
        <div class="row">
            <h3>Upcoming Tasks</h3>
        </div>
        <div class="row">
            <div class="col">
                {% for task_row in tasks[:6] | batch(3, '&nbsp;') %}
                <div class="row">
                    {% for task in task_row %}
                        {% if task != '&nbsp;' %}
                        <div class="col-4">
                            <div class="card">
                              <h5 class="card-header">
                                  {{ task.name }} - {{ task.date }}
                                  {% if task.start_time is not none %}

                                    (
                                    {{ task.start_time.strftime("%I:%M %p") }} ->
                                    {{ task.end_time.strftime("%I:%M %p") }}
                                    )

                                    {% endif %}
                                  <button type="button" class="float-end btn btn-primary">
                                    Reminders <span class="badge rounded-pill bg-info">{{ task.reminder_count }}</span>
                                </button>
                              </h5>
                              <div class="card-body">
                                <p class="card-text">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                {{ task.notes }}
                                            </div>
                                            <div class="row">
                                                <a href="{{ url_for('tasks_controller.edit_task', task_id=task.id) }}" class="btn btn-secondary">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                  </p>
                              </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('tasks_controller.delete_task', task_id=task.id) }}" class="link-danger">Delete</a>
                                <a class="float-end btn btn-outline-primary">Completed</a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
    </div>
    </div>
{% endblock %}

